<body>
  <section class="beneficios">
    <br><br><br>
    <h2>Descubra os benefícios de ser nosso sócio e porque você deve fazer parte deste clube:</h2>
    <br>
    <div class="rounded-rectangle">
      <div class="left-half">
        <div class="coffee-cup">
          <img src="coffee-cup.png" alt="coffee-cup">
          <div class="text-coffee">
            <p class="text-coffee">Todo mês, dois pacotes de café selecionados a dedo pelos nossos especialistas.</p>
            <br>
            <p>Além dos cafés, você ainda garante:</p>
          </div>
        </div>
      </div>
      <div class="right-half">
        <ul class="beneficios">
          <li>
            <img src="revista.png" alt="Revista">
            <p>Uma revista sobre café.</p>
          </li>
          <li>
            <img src="desconto.png" alt="Descontos">
            <p>15% de desconto em todo o site.</p>
          </li>
          <li>
            <img src="cashback.png" alt="Cashback">
            <p>Até 3x mais cashback.</p>
          </li>
          <li>
            <img src="brindes.png" alt="Brindes">
            <p>Brindes diferenciados.</p>
          </li>
        </ul>
        <div class="hover">
          <button class="btn-saiba" routerLink="/servicos">Saiba Mais</button>
        </div>
      </div>
    </div>
  </section>

  <br>

  <section class="global">
    <div class="rounded-rectangle-reversed">
      <div class="left-half-reversed">
        <img src="mapa-mundi.png" alt="Mapa Mundi" class="left-image">
        <div class="icons-container">
          <div class="pais">
            <img src="pais.png" alt="Ícone 1">
            <p>Por país</p>
          </div>
          <div class="tipo">
            <img src="tipo.png" alt="Ícone 2">
            <p>Por tipo</p>
          </div>
          <div class="preco">
            <img src="preco.png" alt="Ícone 3">
            <p>Por preço</p>
          </div>
        </div>
      </div>

      <div class="right-half-reversed">
        <div class="planeta">
          <img src="planeta.png" alt="Elemento lado direito">
          <p>Experimente o sabor dos melhores cafés ao redor do mundo.</p>
          <br>
          <p>Nossa equipe seleciona os melhores grãos de café para você.</p>
        </div>
      </div>
    </div>
  </section>

  <br>

  <section class="app">
    <div class="left-section">
      <div class="icon-text-wrapper">
        <img src="logo2.png" alt="Ícone da esquerda" class="icon">
        <p class="text">
          <span class="black">Acesse o</span>
          <span class="red"> nosso app</span>
          <span class="black">!</span>
        </p>
      </div>
      <div class="left-text">
        <p class="bold">Ganhe cashback!</p>
        <p class="light">Suas compras geram dinheiro devolta!</p>
        <p class="bold">Gerencie seu clube!</p>
        <p class="light">Troque de clube e descubra novas experiências!</p>
        <p class="bold">Acompanhe seu pedido!</p>
        <p class="light">Acompanhe de pertinho o transporte e a entrega!</p>
        <p class="bold">Explore o coffeeverso!</p>
        <p class="light">Fique por dentro de tudo no mundo do café!</p>
      </div>
    </div>

    <!-- Segunda região (centro) -->
    <div class="center-section">
      <img src="app.png" alt="Imagem central">
    </div>

    <!-- Terceira região (direita) -->
    <div class="right-section">
      <p class="light">Seu café favorito a um clique!</p>
      <img src="QRcode.png" alt="Imagem direita">
      <p class="bold">Aponte a sua câmera para o QR code e baixe o app CDC!</p>
    </div>
  </section>
  <br>
</body>

<footer id="contato" class="footer">
  <!-- Primeira região (esquerda) -->
  <div class="footer-left">
    <div class="text-section">
      <p class="left-text">CDC E-Commerce de Cafés S.A.</p>
      <p class="left-text">CNPJ: 49.732.175/0001-82</p>
      <p class="left-text">Rua Santo Antônio, 1177</p>
      <p class="left-text">Jardim Vitoriano - Belo Horizonte/MG - CEP 31253456</p>
      <p class="left-text">Central de atendimento: 0800 778 0100</p>
      <p class="center-text">© Copyright - 2024 por Clube do Café.</p>
    </div>
    <div class="social-icons">
      <img src="whatsapp.png" alt="Ícone WhatsApp">
      <img src="instagram.png" alt="Ícone Instagram">
      <img src="linkedin.png" alt="Ícone LinkedIn">
    </div>
  </div>

  <!-- Segunda região (direita) -->
  <div class="footer-right">
    <img src="rodape.png" alt="Imagem do rodapé">
  </div>
</footer>
