<body>
  <div class="container">
    <!-- Região da Imagem (Esquerda) -->
    <div class="rectangle">
      <div class="image-section">
        <img src="sobre-nos.png" alt="Descrição da imagem">
      </div>

      <!-- Região do Texto (Direita) -->
      <div class="text-section">
        <h1 class="title">Nossa História</h1>
        <p class="content">
          O Clube do Café nasceu em 2018 da mente brilhante de dois visionários empresários de sucesso, Alaor Pereira de
          Carvalho e Guilherme Guimarães Dias Coelho. Com a necessidade dos consumidores de café encontrarem formas mais
          versáteis de adquirir um produto de qualidade e requintado, deu-se início a criação do projeto. O sucesso foi
          imediato, conquistou o paladar dos brasileiros, sendo reconhecido como um estilo elegante de viver, um companheiro
          essencial da rotina.
        </p>
        <p class="content">No ano de 2023, o Clube do Café expandiu os seus negócios e adquiriu a empresa 3 corações, até
          então a maior
          empresa do seguimento no Brasil e uma das maiores no mundo. Com isso, o Clube do Café passou a contar no seu
          portfólio, a sua própria marca de café.
        </p>
        <p class="content">Com isso mostramos a nossa força estando entre as marcas líderes de café no Brasil (IBGE 2024)
          entregando ao consumidor um portfólio completo: a tradicional linha de café torrado e moído e uma variedade de opções para
          atender às necessidades da rotina de cada um: café solúvel, café em grãos e café em cápsulas. Além de um portfólio
          extenso, o Clube do Café oferece produtos de qualidade aos consumidores com um processo rigoroso na seleção de
          grãos.
        </p>
      </div>
    </div>
  </div>
</body>
